/* Configurações Gerais */
:root {
    /* Cores */
    --preto: #12130F;
    --verde-escuro: #2D9687;
    --verde-claro: #16D7BB;
    --azul: #1C5D99;

    /* Fontes */
    --principal: "Roboto", "Open Sans", sans-serif;
    --destaque: 'Oswald';
    --cursiva: "Parisienne", cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

.no-scroll {
    overflow: hidden;
}

body {
    background-color: var(--preto);
    font-family: var(--principal);
}

strong {
    font-family: var(--destaque);
    color: var(--verde-claro);
}

.titulo {
    color: var(--verde-claro);
    text-decoration: underline;
    text-align: center;
    font-size: 2.2em;
}

.btn {
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 6px 20px;
    text-decoration: none;
    color: black;
    background-color: var(--verde-claro);
    transition: .5s;
}

.btn:hover {
    border: 2px solid transparent;
    font-weight: bold;
    text-decoration: underline;
    background-color: transparent;
    box-shadow: none;
    cursor: pointer;
}

.tec_html {
    background-color: #FC490B;
}

.tec_css {
    background-color: #1775BB;
}

.tec_javas {
    background-color: #FCB040;
}

.tec_boot {
    background-color: rgb(194, 25, 194);
}

.contato {
    transition: 0.5s;
}

.contato:hover {
    cursor: pointer;
    color: var(--verde-claro);
}


/* CABEÇALHO */
header {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    padding: 15px;
}

#menu {
    padding: 20px;
    background-color: var(--preto);
}

#menu > .offcanvas-header {
    justify-content: space-between;
}

#menu h1 {
    font-family: var(--cursiva);
    font-size: 2.5em;
}

#menu h1 > a {
    color: var(--verde-claro);
    text-decoration: none;
}

#menu > h1:hover {
    cursor: pointer;
}

#menu > h1.header_titulo {
    display: none;
}

#menu > .offcanvas-header > span {
    color: var(--verde-claro);
    opacity: .7;
    transition: .4s;
}

#menu > .offcanvas-header > span:hover {
    opacity: 1;
    cursor: pointer;
}

#menu > nav {
    margin: 10px 0px;
}

#menu > nav > ul {
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    padding: 0;
    margin: 0;
    text-align: center;
}

#menu > nav > ul > li {
    margin-bottom: 15px;
}

#menu > nav > ul a {
    color: white;
    font-size: 1.6em;
    text-decoration: none;
    margin-right: 3px;
    padding: 5px;
    transition: 0.5s;
}

#menu > nav > ul a:hover {
    color: var(--verde-claro);
    text-decoration: underline;
    font-weight: bold;
}

#menu > .header_links {
    margin-top: 16px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#menu > div i {
    font-size: 2.5em;
}

#menu > div span {
    font-size: 3em;
    margin-top: 7px;
}

#menu_burgue {
    font-size: 2.5em;
    color: var(--verde-claro);
    display: block;
    text-align: center;
}

#menu_burgue:hover {
    cursor: pointer;
}


/* INTRODUÇÃO */
section.introducao {
    padding: 20px;
    padding-bottom: 70px;
    height: 90vh;
    background-image: url(../imgs/back/back_cell_50.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.introducao > div.textos {
    text-align: center;
}

.introducao > div.textos > h2 {
    font-size: 2.5em;
}

.introducao > div.textos > h1:first-of-type {
    font-size: 3em;
    margin: 30px 0px 20px 0px;
}

.introducao > div.textos > h1:last-of-type {
    font-size: 1.7em;
}

.introducao > div.contatos {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    text-align: center;
    margin-top: 40px;
    width: 100%;
}

.introducao > div.contatos > a > i {
    font-size: 2.5em;
}

.introducao > div.contatos > a > span {
    font-size: 3em;
    margin-top: 7px;
}



/* SOBRE MIM */
#sobre {
    margin: 60px 0px;
    padding: 0px 20px;
}

#sobre h1, #sobre p{
    margin-bottom: 15px;
}

#sobre p {
    text-align: justify;
    text-indent: 20px;
    margin-right: 5px;
}

#sobre > .area-foto {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#sobre .foto {
    height: 40vh;
    width: 60%;
    background-image: url(../imgs/fotos/foto2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 5px;
    box-shadow: 2px 1px 1px -1px #16d7ba60;
}

#sobre > .area-foto > a.btn {
    margin: 20px 0px;
    text-align: center;
    box-shadow: 1px 1px 4px 0px #16d7ba60;
}

#sobre > .area-foto > a.btn:hover {
    color: var(--verde-claro);
    border: 3px solid var(--verde-claro);
}



/* PROJETOS */
section#projetos {
    padding: 20px;
}

section#projetos > h1 {
    margin-bottom: 40px;
}

div.container_projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* section#projetos > div.container_projetos > div.projeto {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 40px;
    box-shadow: 2px 1px 4px 0px #16d7ba62;
} */

#projetos > .container_projetos > .projeto {
    box-shadow: 2px 1px 4px 0px #16d7ba62;
    margin-bottom: 40px;
    background-color: var(--verde-claro);
}

.projeto > img {
    height: 30vh;
    object-fit: cover;
    object-position: top;
}

.tec_html, .tec_css, .tec_javas, .tec_boot {
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 0.8em;
}

section#projetos > div.container_projetos > div.projeto > div.card-body > div.tecno > ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

div.projeto h2 {
    color: black;
    font-weight: bold;
    margin-bottom: 5px;
}

div.projeto p {
    padding: 0px 15px;
    margin-bottom: 10px;
    text-align: justify;
    color: black;
}

div.projeto a.btn {
    margin: 0px auto 10px auto;
    background-color: black;
    color: white;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.411);
}

div.projeto a.btn:hover {
    color: black;
    border: 3px solid black;
    background-color: transparent;
}



/* JANELAS MODAIS */
/* .fade, .janela {
    transition: .5s;
    opacity: 1;
    pointer-events: all;
} */

#projetos > .container_janelas > .modal > .modal-dialog > .modal-content {
    background-color: var(--verde-claro);
}

#projetos > .container_janelas > .modal .modal-header {
    padding: 20px;
}

#projetos > .container_janelas > .modal .modal-body {
    padding: 20px 30px;
}

#projetos > .container_janelas > .modal .modal-header, .modal-footer {
    border-color: var(--preto);
}

.modal .modal-body > .projeto_img {
    /* background-image: url(""); */
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    width: 100%;
    height: 60vh;
    /* border: 3px solid black; */
    border-radius: 3px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.411);
}

.modal .modal-body > .projeto_info > h1 {
    color: black;
    text-align: center;
    font-weight: bold;
}

.modal .modal-body > .projeto_info > p {
    color: black;
    text-align: justify;
    text-indent: 15px;
    margin-bottom: 7px;
}

.modal .modal-body > .projeto_info > p strong {
    color: var(--preto);
}

.modal .modal-body > .projeto_info > p a {
    color: var(--preto);
    text-decoration: underline;
}

.modal .modal-body > .projeto_info > p a:hover {
    cursor: pointer;
    font-weight: bold;
}

.modal .modal-footer {
    justify-content: space-around;
}

.modal .modal-footer > a {
    background-color: var(--preto);
    color: white;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.411);
    margin-bottom: 10px;
}

.modal .modal-footer > a:hover {
    color: var(--preto);
    border-color: var(--preto);
}

.modal .modal-footer > p.btn_close {
    color: white;
    background-color: red;
    opacity: 0.8;
}

.modal .modal-footer > p.btn_close:hover {
    opacity: 1;
    border: none;
    text-decoration: none;
}

/* .janela > div {
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 201px);
}

.janela h2 {
    text-align: center;
    color: black;
    font-size: 2em;
}

.janela .textos_janelas {
    height: calc(90vh - 317px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.janela p {
    text-align: justify;
    color: black;
    font-size: 1.2em;
}

.janela strong {
    color: black;
    font-family: var(--principal);
}

.janela > div > div {
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
}

.janela > div > div a {
    background-color: black;
    color: white;
    width: 43%;
    text-align: center;
    box-shadow: 2px 1px 4px 0px rgba(0, 0, 0, 0.445);
}

.janela > div > button {
    background-color: red;
    box-shadow: 2px 1px 4px 0px rgba(255, 0, 0, 0.397);
    width: 40%;
    opacity: 0.9;
    align-self: center;
    padding: 7px 0;
    color: white;
}

.janela > div a.btn:hover {
    color: black;
    border: 4px solid black;
}

.janela > div button.btn:hover {
    background-color: red;
    opacity: 1;
    width: 45%;
}

.hide {
    opacity: 0;
    pointer-events: none;
}

.janela.hide {
    top: 0;
} */



/* CONTATO */
#contato {
    margin-bottom: 40px;
}

#contato h1 {
    margin: 20px 0;
}

#contato p {
    text-align: center;
    font-size: 1.2em;
}

#contato div {
    display: flex;
    flex-direction: column;
}

#contato a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    text-decoration: none;
}

#contato a:hover {
    font-weight: bold;
    text-decoration: underline;
    color: var(--verde-claro);
}

#contato img {
    width: 10%;
    margin-right: 10px;
}



/* FOOTER */
footer {
    padding: 30px;
    border-top: 2px solid var(--verde-claro);
}

footer p {
    text-align: center;
    font-size: 1.1em;
}

footer a {
    text-decoration: none;
    color: var(--verde-claro);
}

footer a:hover {
    text-decoration: underline;
}