/* Configurações Gerais */
:root {
    /* Cores */
    --preto: #12130F;
    --verde-escuro: #2D9687;
    --verde-claro: #16D7BB;
    --azul: #1C5D99;

    /* Fontes */
    --principal: "Roboto", "Open Sans", sans-serif;
    --destaque: 'Oswald';
    --cursiva: "Parisienne", cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: var(--preto);
    font-family: var(--principal);
}

strong {
    font-family: var(--destaque);
    color: var(--verde-claro);
}

.titulo {
    color: var(--verde-claro);
    text-decoration: underline;
    text-align: center;
    font-size: 2.2em;
}

.btn {
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 6px 20px;
    text-decoration: none;
    color: black;
    background-color: var(--verde-claro);
    transition: .5s;
}

.btn:hover {
    font-weight: bold;
    text-decoration: underline;
    background-color: transparent;
    box-shadow: none;
    cursor: pointer;
}


/* CABEÇALHO */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}

header h1 {
    font-family: var(--cursiva);
    font-size: 1.7em;
    color: var(--verde-claro);
    margin-left: 15px;
}

nav > ul {
    list-style: none;
    display: flex;
}

nav > ul a {
    text-decoration: none;
    margin-right: 3px;
    padding: 5px;
    transition: 0.5s;
}

nav > ul a:hover {
    color: var(--verde-claro);
    text-decoration: underline;
    font-weight: bold;
}



/* INTRODUÇÃO */
section.introducao {
    padding: 20px;
    background-image: url(../imgs/back/back1_50opacy_black.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.introducao > div.textos {
    text-align: center;
}

.introducao > div.textos > h1:first-of-type {
    font-size: 2em;
    margin: 5px 0px
}

.introducao > div.textos > h1:last-of-type {
    font-size: 1.2em;
}

.introducao > div.contatos {
  text-align: center;
  margin-top: 15px;
}

.introducao > div.contatos > a > img {
    width: 10%;
}

.introducao > div.contatos > a:nth-child(2) > img{
    margin: 0 20px;
}



/* SOBRE MIM */
section.sobre {
    margin: 60px 0px;
    padding: 0px 20px;
}

section.sobre > h1, p{
    margin-bottom: 15px;
}

section.sobre > p {
    text-align: justify;
    text-indent: 20px;
}

section.sobre > div.foto {
    display: block;
    margin: auto;
    height: 40vh;
    width: 60%;
    background-image: url(../imgs/fotos/foto2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 5px;
    box-shadow: 2px 1px 1px -1px #16d7ba60;
}

section.sobre > p.p_btn {
    padding: 20px;
    margin: 5px 0px;
    text-align: center;
}

section.sobre > p.p_btn > a.btn {
    box-shadow: 1px 1px 4px 0px #16d7ba60;
}

section.sobre > p.p_btn > a.btn:hover {
    color: var(--verde-claro);
    border: 2px solid var(--verde-claro);
}



/* PROJETOS */
section#projetos {
    padding: 20px 20px;
}

section#projetos > h1 {
    margin-bottom: 40px;
}

div.container_projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#projetos > div.container_projetos > div.projeto {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 40px;
    box-shadow: 2px 1px 4px 0px #16d7ba62;
}

section#projetos > div.container_projetos > div.projeto > img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

section#projetos > div.container_projetos > div.projeto > div {
    background-color: var(--verde-claro);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 42vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section#projetos > div.container_projetos > div.projeto > div > div.tecno > ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

div.projeto h2 {
    text-align: center;
    color: black;
    margin-bottom: 5px;
}

div.projeto p {
    padding: 0px 15px;
    margin-bottom: 10px;
    text-align: justify;
    color: black;
}

div.projeto button.btn {
    display: block;
    margin: 0px auto 10px auto;
    background-color: black;
    color: white;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.411);
}

div.projeto button.btn:hover {
    color: black;
    border: 2px solid black;
    background-color: transparent;
}


/* JANELAS MODAIS */
.janela {
    background-color: var(--verde-claro);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

div.janela img {
    width: 100%;
}

.janela > div {
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 201px);
}

.janela h2 {
    text-align: center;
    color: black;
    font-size: 2em;
}

.janela p {
    text-align: justify;
    color: black;
    margin-top: 30px;
    height: calc(90vh - 349px);
    font-size: 1.2em;
}

.janela > div > div {
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
}

.janela > div > div a {
    background-color: black;
    color: white;
    width: 43%;
    text-align: center;
    box-shadow: 2px 1px 4px 0px rgba(0, 0, 0, 0.445);
}

.janela > div > button {
    background-color: red;
    box-shadow: 2px 1px 4px 0px rgba(255, 0, 0, 0.397);
    width: 40%;
    opacity: 0.9;
    align-self: center;
    padding: 7px 0;
    color: white;
}

.janela > div a.btn:hover {
    color: black;
    border: 2px solid black;
}

.janela > div button.btn:hover {
    background-color: red;
    opacity: 1;
    width: 45%;
}



/* CONTATO */
#contato {
    margin-bottom: 40px;
}

#contato h1 {
    margin: 20px 0;
}

#contato p {
    text-align: center;
    font-size: 1.2em;
}

#contato div {
    display: flex;
    flex-direction: column;
}

#contato a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    text-decoration: none;
}

#contato a:hover {
    font-weight: bold;
    text-decoration: underline;
    color: var(--verde-claro);
}

#contato img {
    width: 10%;
    margin-right: 10px;
}