.mobile-only {
  display: none !important;
}

@media(max-width: 991px) {
  .mobile-only {
    display: flex;
    justify-content: center;
    gap: var(--spacing-md);
    margin-top: var(--spacing-xl);
  }
}
