.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 100vh;
}
 
.titulo {
  color: rgb(38, 38, 38);
  font-size: 252px;
  margin-top: -20px;
  font-weight: 900;
  margin-bottom: -20px;
  letter-spacing: -20px;
}
 
.mensagem {
  width: 421px;
  text-align: center;
  font-weight: 400;
}

@media screen and (max-width: 768px) {

  .titulo {
    font-size: 120px;
    margin-top: -10px;
    margin-bottom: -10px;
    letter-spacing: -10px;
  }

  .mensagem {
    width: auto;
    font-size: 20px;
  }
}
